@model UpdateBookingDto

@{
    ViewData["Title"] = "BookingUpdate";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<div class="content">
	<div class="container-fluid">
		<h4 class="page-title">Rezervasyon</h4>
		<div class="row">
			<div class="col-md-12">
				<form method="post">
					<div class="card">
						<div class="card-header">
							<div class="card-title">Rezervasyon Güncelleme</div>
						</div>
						<input type="hidden" asp-for="BookingID" />
						<div class="card-body">
							<div class="form-group">
								<label asp-for="BookingName">Ad Soyad</label>
								<input asp-for="BookingName" type="text" class="form-control" id="BookingName" placeholder="Ad Soyad Giriniz">
							</div>
						</div>
						<div class="card-body">
							<div class="form-group">
								<label asp-for="BookingPhone">Telefon</label>
								<input asp-for="BookingPhone" type="text" class="form-control" id="BookingPhone" placeholder="Telefon Giriniz">
							</div>
						</div>
						<div class="card-body">
							<div class="form-group">
								<label asp-for="BookingPersonCount">Kişi Sayısı</label>
								<input asp-for="BookingPersonCount" type="number" class="form-control" id="BookingPersonCount" placeholder="Kişi Sayısı Giriniz">
							</div>
						</div>
						<div class="card-body">
							<div class="form-group">
								<label asp-for="BookingMail">Mail</label>
								<input asp-for="BookingMail" type="email" class="form-control" id="BookingMail" placeholder="Mail Giriniz">
							</div>
						</div>
						<div class="card-body">
							<div class="form-group">
								<label asp-for="BookingDate">Tarih</label>
								<input asp-for="BookingDate" type="date" class="form-control" id="BookingDate" placeholder="Rezervasyon Tarihi Giriniz">
							</div>
						</div>
						<div class="card-action">
							<button class="btn btn-success">Rezervasyon Güncelle</button>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>
