@model CreateTestimonialDto

@{
    ViewData["Title"] = "TestimonialCreate";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<div class="content">
	<div class="container-fluid">
		<h4 class="page-title">Referans</h4>
		<div class="row">
			<div class="col-md-12">
				<form method="post">
					<div class="card">
						<div class="card-header">
							<div class="card-title">Yeni Referans Girişi</div>
						</div>
						<div class="card-body">
							<div class="form-group">
								<label asp-for="TestimonialName">Müşteri Adı</label>
								<input asp-for="TestimonialName" type="text" class="form-control" id="TestimonialName" placeholder="Müşteri Adını Giriniz">
							</div>
						</div>
						<div class="card-body">
							<div class="form-group">
								<label asp-for="TestimonialTitle">Ünvan</label>
								<input asp-for="TestimonialTitle" type="text" class="form-control" id="TestimonialTitle" placeholder="Müşteri Ünvanı Giriniz">
							</div>
						</div><div class="card-body">
							<div class="form-group">
								<label asp-for="TestimonialImageUrl">URL</label>
								<input asp-for="TestimonialImageUrl" type="text" class="form-control" id="TestimonialImageUrl" placeholder="Müşteri Resim Yolunu Giriniz">
							</div>
						</div><div class="card-body">
							<div class="form-group">
								<label asp-for="TestimonialComment">Yorum</label>
								<input asp-for="TestimonialComment" type="text" class="form-control" id="TestimonialComment" placeholder="Müşteri Yorumu Giriniz">
							</div>
						</div>

						<div class="card-action">
							<button class="btn btn-success">Ekle</button>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>
