@model CreateContactDto

@{
    ViewData["Title"] = "ContactCreate";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<div class="content">
	<div class="container-fluid">
		<h4 class="page-title">İletişim Bilgisi</h4>
		<div class="row">
			<div class="col-md-12">
				<form method="post">
					<div class="card">
						<div class="card-header">
							<div class="card-title">Yeni İletişim Bilgisi Girişi</div>
						</div>
						<div class="card-body">
							<div class="form-group">
								<label asp-for="ContactLocation">Lokasyon</label>
								<input asp-for="ContactLocation" type="text" class="form-control" id="ContactLocation" placeholder="Lokasyon Giriniz">
							</div>
						</div>
						<div class="card-body">
							<div class="form-group">
								<label asp-for="ContactPhone">Telefon</label>
								<input asp-for="ContactPhone" type="number" class="form-control" id="ContactPhone" placeholder="Telefon Numarası Giriniz">
							</div>
						</div>
						<div class="card-body">
							<div class="form-group">
								<label asp-for="ContactMail">Mail</label>
								<input asp-for="ContactMail" type="email" class="form-control" id="ContactMail" placeholder="Mail Giriniz" />
							</div>
						</div>
						<div class="card-body">
							<div class="form-group">
								<label asp-for="ContactFooterDescription">Açıklama</label>
								<textarea asp-for="ContactFooterDescription" rows="4" class="form-control" id="AboutDescription" placeholder="Açıklama Giriniz"></textarea>
							</div>
						</div>
						<div class="card-action">
							<button class="btn btn-success">İletişim Bilgisi Ekle</button>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>
